[submodule "services/product-service"]
	path = services/product-service
	url = https://github.com/vulehuan/rails-microservices-product-service
[submodule "services/order-service"]
	path = services/order-service
	url = https://github.com/vulehuan/rails-microservices-order-service
[submodule "applications/shop"]
	path = applications/shop
	url = https://github.com/vulehuan/rails-microservices-shop
